.content {
  padding: 2rem;
  width: 100vw;
}

.title {
  width: 80vw;
  margin: 4rem auto;
}

h1 {
  font-weight: 100;
  color: #777;
  text-align: center;
}

.searchbar {
  text-align: center;
  width: 70vw;
  margin: auto;
}

.searchbar input {
  width: 100%;
  height: 2rem;
  border: 0;
  border-bottom: 0.1rem solid rgb(153, 149, 149);
  text-align: center;
}

.search-icon {
  position: relative;
  float: right;
  top: -2rem;
}

article {
  display: flex;
  padding: 2rem;
  margin-top: 3rem;
}

article aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: flex-start;
}

article aside select {
  width: 100%;
  height: 2rem;
  border: 0;
  border-bottom: .1rem solid #777;
  text-transform: uppercase;
}

article main {
  flex: 5;
}

.paper-list {
  list-style: none;
  text-align: left;
}

.paper-list-item {
  text-align: left;
  cursor: pointer;
}

.paper-title {
  text-align: left;
  color: #007aff;
}

.paper-preview {}

.paper-author {
  text-align: right;
}

