<!-- <div class="login">
  <form [formGroup]="submissionForm" (ngSubmit)="submitPaper()">
    <div>
      <label for="Titre">Titre</label>
      <input type="text" formControlName="title" id="Titre" />
    </div>
    <div>
      <label for="Subject">Sujet</label>
      <input type="text" formControlName="subject" id="Subject" />
    </div>
    <div>
      <label for="keyword">Mots clé</label>
      <input type="text" formControlName="keywords" id="keyword" />
    </div>
    <div>
      <label for="Abstract">Abstract</label>
     <textarea formControlName="summary" id="Abstract" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Soummettre" />
  </form>
</div> -->

