.page-header {
  background: radial-gradient(400px circle at 50% 10%, rgb(0, 183, 255), #007aff), #007aff;
  min-height: calc(100vh - 12rem);
  color: white;
  display: flex;
  // flex-direction: column;
}

.article-header {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

h2 {
  font-weight: 100;
}

.btn-group {
  display: flex;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0 .2rem;
  width: 13rem;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.read-article {
  color: #333;
  background: orange;
}

.rate {
  color: white;
  background: #007aff;
  border: .1rem solid white;
}

article {
  background: white;
  color: #777;
  position: relative;
  top: 7rem;
  min-height: calc(50vh - 7rem);
  width: 50vw;
  padding: 0.2rem 1rem;
  text-align: justify;
  font-style: italic;
}

h5 {
  text-align: center;
  text-transform: uppercase;
}

.reviews {
  text-align: center;
  max-width: 70vw;
  margin: auto;
}

.reviewers {
  list-style: none;
  text-align: left;

  h5 {
    text-align: left;
  }
}
