<main>
  <section>
    <h1 class="section-title">Articles en attentes</h1>
    <ul class="paper-list" *ngFor="let item of articles.pending">
      <li class="paper-list-item" [routerLink]="['/article', item]">
        <h2 class="paper-title pending">{{ item?.title }}</h2>
        <p class="paper-preview">
          {{ item?.summary }}
        </p>
        <h6 class="paper-author">{{ item.author }} , {{ item.subject }}</h6>
      </li>
    </ul>
  </section>
  <section>
    <h1 class="section-title">Articles approuvés</h1>
    <ul class="paper-list" *ngFor="let item of articles.approved">
      <li class="paper-list-item" [routerLink]="['/article', item]">
        <h2 class="paper-title approved">{{ item?.title }}</h2>
        <p class="paper-preview">
          {{ item?.summary }}
        </p>
        <h6 class="paper-author">{{ item.author }} , {{ item.subject }}</h6>
      </li>
    </ul>
  </section>
  <section>
    <h1 class="section-title">Articles rejetés</h1>
    <ul class="paper-list" *ngFor="let item of articles.rejected">
      <li class="paper-list-item" [routerLink]="['/article', item]">
        <h2 class="paper-title rejected">
          Modelisation des ondes gravitationnelle
        </h2>
        <p class="paper-preview">
          {{ item?.summary }}
        </p>
        <h6 class="paper-author">{{ item.author }} , {{ item.subject }}</h6>
      </li>
    </ul>
  </section>
</main>
