<div class="banner">
  <div class="note">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem,
      inventore autem placeat maxime amet unde, sed molestias ut ad error a
      necessitatibus facere ipsam, at labore sequi. Totam, quae quidem?
    </p>
    <a href="#" class="join-btn">Soummettre un Article</a>
  </div>
</div>
<div class="feature-container">
  <div class="feature">
    <img src="/assets/demonstrate-impact-80x80.svg" alt="" />
    <div>
      <a href="#"><h2>Tendances</h2></a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
        dignissimos.
      </p>
    </div>
  </div>
  <div class="feature">
    <img src="/assets/find-articles-80x80.svg" alt="img" />
    <div>
      <a href=""> <h2>Rechercher</h2></a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
        dignissimos.
      </p>
    </div>
  </div>
  <div class="feature">
    <img src="/assets/accepted-article-80x80.svg" alt="img" />
    <div>
      <a href="#"><h2>Noter</h2></a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
        dignissimos.
      </p>
    </div>
  </div>
</div>

<div class="tendances-container">
  <div>
    <a href="#"><h2>Sciences Physiques</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>
  <div>
    <a href="#"><h2>Mathematiques & Informatiques</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>
  <div>
    <a href="#"><h2>Recherche Operationnelles</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>
</div>

<div class="tendances-container">
  <div>
    <a href="#"><h2>Sociologies</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>

  <div>
    <a href="#"><h2>Dynamiques</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>
  <div>
    <a href="#"><h2>Santé</h2></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos.
    </p>
  </div>
</div>

<app-article-list></app-article-list>

