<div class="login">
  <form>
    <div>
      <label for="nom">Nom</label>
      <input type="text" name="nom" id="nom" />
    </div>
    <div>
      <label for="Prenom">Prenom</label>
      <input type="text" name="Prenom" id="Prenom" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="submit" value="SignUp" />
  </form>
</div>
